@import "../../../styles/all";

.commentWrapper {
  display: flex;
  margin-bottom: 8px;
  padding: 10px;
  width: calc($postWidth - 50px);
  min-height: 40px;
  background-color: white;

  .commentInfo {
    display: flex;
    flex-direction: column;

    .commentUserInfo {
      margin-bottom: 4px;

      img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }

      @extend %flexCenter;
    }

    .userName {
      margin-left: 5px;
      font-size: 0.9rem;
    }
  }

  .commentCreatedAt {
    font-size: 0.7rem;

    // padding-left: 5px;
  }

  .commentText {
    align-self: center;
    overflow: hidden;
    margin-left: 15px;
    font-size: 1.03rem;
    line-height: 1.05rem;
    text-overflow: ellipsis;
  }
}

@media (max-width: 870px) {
  .commentWrapper {
    width: calc($postWidthMobile - 50px);
  }
}
