@import "../../styles/all";

.ldsRingWrapper {
  height: 100%;

  .ldsRing {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 200px;
  }

  .ldsRing div {
    position: absolute;
    display: block;
    margin: 8px;
    border: 12px solid $darkGreen;
    border-color: $darkGreen transparent transparent transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    animation: ldsRing 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  .ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @extend %flexCenter;

  @keyframes ldsRing {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
