@import "../../styles/all";

.contentWrapper {
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 42px - 17px - 20px);

  .noPosts {
    height: 100%;
    font-size: $bigFontSize;
    color: $darkGreen;

    @extend %flexCenter;
  }

  @extend %flexCenter;
}
