@import "../../styles/all";
.contentWrapper {
  height: calc(100% - 42px - 17px - 20px);
  @extend %flexCenter;
  justify-content: flex-start;
  flex-direction: column;

  .noPosts {
    height: 100%;
    @extend %flexCenter;
    font-size: $bigFontSize;
    color: $darkGreen;
  }
}
