@import "../../../styles/variables";

.inputWrapper {
  position: relative;
  width: 100%;

  label {
    position: absolute;
    left: 10px;
    top: 50%;
    display: block;
    padding: 0 5px;
    font-weight: 700;
    color: $darkGreen;
    background-color: white;
    transform: translateY(-50%);
    transition: top 0.2s ease, font-size 0.2s ease, top 0.2s ease;
    cursor: text;
    user-select: none;
  }

  input {
    border: 2px solid $darkGreen;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    font-size: 1.1rem;
    color: $lightGreen;

    &[type="password"] {
      font-family: "Verdana";
    }
  }

  input:valid + label,
  input:focus + label {
    top: 0;
    border-color: $lightGreen;
    font-size: 0.8rem;
    background-color: white;
  }
}
