$defaultFontSize: 1rem;
$menuFontSize: 1.5rem;
$userIconSize: 30px;
$menuButtonFontSize: 1.1rem;
$bigFontSize: 1.6rem;
$lightGreen: #5bc9be;
$darkGreen: #54a3a0;
$ContentBackgroundColor: whitesmoke;
$registerWrapperWidth: 700px;
$registerWrapperHeight: 530px;
$registerBoxWidth: $registerWrapperWidth / 2;
$borderRadiusDefault: 5px;
$loginWrapperWidth: 400px;
$loginWrapperWidthMobile: 350px;
$loginWrapperHeight: 400px;
$postWidth: 700px;
$postWidthMobile: 350px;
$postImgHeight: 250px;
$addPostWidth: 1400px;
$addPostWidthMobile: 700px;
