@import "../../styles/all";

.addPostMainWrapper {
  @extend %flexCenter;
  height: 100%;
  border: 1px solid red;
  // overflow-x: hidden;
  .addPostContentWrapper {
    width: $postWidth;

    .addPostWrapper {
      width: $addPostWidth;
      display: flex;

      .addPostBox {
        padding: 20px;
        background-color: white;

        width: $postWidth;
      }
      .addPostBoxPreview {
        padding: 0;
      }
    }

    .postText {
      display: block;
      width: 100%;
      height: 80px;
      resize: none;
      border: 1px solid $lightGreen;
      padding: 5px;
      outline: none;
      border-radius: 2px;
      font-size: 1.1rem;
      line-height: 1.3rem;
      transition: box-shadow 0.2s linear;
      margin-bottom: 5px;
      &:focus {
        box-shadow: inset 0px 0px 3px $lightGreen;
      }

      &::placeholder {
        color: $darkGreen;
      }
    }

    .previewWrapper {
      display: flex;
      justify-content: flex-end;
      .preview {
        cursor: pointer;
        border-radius: $borderRadiusDefault;
        padding: 5px;
        background-color: $darkGreen;
        border: 2px solid transparent;
        color: white;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: white;
          color: $darkGreen;
          border: 2px solid $darkGreen;
        }
      }
    }
  }
}
