@import "../../styles/variables";

.textAreaStyle {
  display: block;
  width: 100%;
  max-height: 300px;
  resize: none;
  border: 1px solid $lightGreen;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  font-size: 1.1rem;
  line-height: 1.3rem;
  transition: box-shadow 0.2s linear;
  margin-bottom: 5px;
  &:focus {
    box-shadow: inset 0px 0px 3px $lightGreen;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::placeholder {
    color: $darkGreen;
  }
}
