@import "../../styles/all";

.registerContentWrapper {
  @extend %flexCenter;
  height: 100%;
  .registerContent {
    width: $registerBoxWidth;
    overflow: hidden;

    .registerWrapper {
      border-radius: $borderRadiusDefault;
      width: $registerWrapperWidth;
      height: $registerWrapperHeight;
      display: flex;
      background-color: white;
      border-left: 1px solid green;
      border-right: 1px solid green;
      transition: all 0.3s ease-in-out;

      .registrationBox {
        border-radius: $borderRadiusDefault;
        height: 100%;
        width: $registerBoxWidth;
        padding: 50px;
      }
    }
  }
}

.registerWrapperMoveForward {
  transform: translateX(-350px);
}
