@import "../../styles/templates";
@import "../../styles/variables";
.registerContent {
  @extend %flexCenter;
  height: 100%;
  .registerWrapper {
    width: $registerWrapperWidth;
    background-color: white;
    height: $registerWrapperHeight;
    display: flex;

    .registrationBox {
      height: 100%;
      width: $registerBoxWidth;
      border: 1px solid green;
      padding: 50px;
    }
  }
}
