@import "../../styles/all";
.registerContent {
  @extend %flexCenter;
  height: 100%;
  .registerWrapper {
    border-radius: $borderRadiusDefault;
    width: $registerWrapperWidth;
    height: $registerWrapperHeight;
    display: flex;
    background-color: white;

    .registrationBox {
      border-radius: $borderRadiusDefault;
      height: 100%;
      width: $registerBoxWidth;
      border: 1px solid green;
      padding: 50px;
    }
  }
}
