@import "../../../styles/all";

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  justify-content: space-around;
  padding: 20px;
  font-weight: 700;
  font-size: $menuFontSize;
  background-color: white;
  transition: background-color 0.2s ease;

  .wrapperActions {
    .actionsButton {
      margin-right: 8px;
      border: 2px solid transparent;
      border-radius: 3px;
      padding: 5px 10px;
      font-weight: 550;
      font-size: $menuButtonFontSize;
      color: white;
      background-color: $darkGreen;
      transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;

      &:hover {
        border-color: $darkGreen;
        color: $lightGreen;
        background-color: white;
      }
    }

    .user {
      position: relative;
      margin-left: 7px;
      border-radius: 50%;
      width: $userIconSize;
      height: $userIconSize;

      img {
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      .logout {
        position: absolute;
        left: 50%;
        top: 200%;
        border: 2px solid $darkGreen;
        border-radius: 3px;
        padding: 5px 8px 7px;
        font-weight: 600;
        font-size: $menuButtonFontSize;
        color: $darkGreen;
        background-color: whitesmoke;
        transform: translate(-50%, -50%);
        transition: border-color 0.2s linear;

        &:hover {
          border-color: $lightGreen;
        }
      }
    }

    @extend %flexCenter;
  }

  @extend %flexCenter;
}

.coloredMenu {
  background-color: #f5f9f5;
  animation: moveMenu 0.3s;

  @keyframes moveMenu {
    0% {
      top: -100px;
    }

    100% {
      top: 0;
    }
  }
}

.navStyling {
  margin-bottom: 20px;
  height: 73.59px;
}
