@import "../../../styles/all";

.userImgContent {
  // for positioning actionWrapper elements at the same height as slide before (5px padding of button)
  height: calc(100% - 9px);
  color: $darkGreen;

  .header {
    margin-bottom: 120px;
    font-size: $bigFontSize;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageWrapper {
    position: relative;
    border-radius: 50%;

    .userImage {
      border-radius: 50%;
      width: 130px;
      height: 130px;
      cursor: pointer;
    }

    .photoSign {
      position: absolute;
      left: 70%;
      top: 75%;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      color: white;
      background-color: $darkGreen;
      cursor: pointer;

      @extend %flexCenter;
    }
  }

  input {
    display: none;
  }
}

.actionWrapper {
  justify-content: space-between;

  .back {
    display: flex;
    align-items: center;
    margin-right: -10px;
    font-weight: 700;
    color: $darkGreen;
    transition: color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $lightGreen;
    }
  }

  .register {
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 7px;
    font-weight: 700;
    font-size: $defaultFontSize;
    letter-spacing: 0.05rem;
    color: white;
    background-color: $darkGreen;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: $darkGreen;
      color: $lightGreen;
      background-color: white;
    }
  }

  @extend %flexCenter;
}
