@import "../../styles/all";

.postContentContainer {
  margin-bottom: 10px;
  .postContentWrapper {
    width: $postWidth;
    background-color: white;
    padding: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
    .postUserPhotoAndDisplayName {
      display: flex;
      align-items: center;
      margin-bottom: 3px;

      .userPhoto {
        height: 28px;
        width: 28px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 8px;
      }
      .userDisplayName {
        font-size: 1.15rem;
      }
    }

    .postCreatedAt {
      font-size: 0.85rem;
      margin-bottom: 13px;
    }

    .postImg {
      width: 100%;
      height: $postImgHeight;
      object-fit: contain;
      margin-bottom: 5px;
    }

    .postText {
      font-size: 1.1rem;
      line-height: 1.3rem;
      margin-bottom: 9px;
    }

    .postOptionsContent {
      display: flex;
      align-items: center;
      color: $darkGreen;
      .postOption {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 12px;
        }
        span {
          margin-left: 5px;
        }

        .iconPostOption {
          font-size: 1.25rem;
        }
      }
    }
  }

  .commentRegister {
    display: flex;
    margin-left: 60px;
    align-items: center;

    span {
      color: $darkGreen;
      margin-right: 5px;
      transition: all 0.2s ease;
      &:hover {
        color: $lightGreen;
      }
    }
  }

  .buttonSendWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .buttonSend {
    border-radius: $borderRadiusDefault;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 800;
    color: whitesmoke;
    background-color: $darkGreen;
    transition: all 0.2s linear;
    &:hover {
      color: white;
      background-color: $lightGreen;
    }
  }

  @media (max-width: 870px) {
    .postContentWrapper {
      width: $postWidthMobile;
    }
  }
}
