@import "../../styles/all";
.loginContentWrapper {
  @extend %flexCenter;
  height: 100%;

  .loginWrapper {
    @extend %flexCenter;
    flex-direction: column;
    width: $loginWrapperWidth;
    height: $loginWrapperHeight;
    background-color: white;
    border-radius: $borderRadiusDefault;

    .loginInputs {
      @extend %flexCenter;
      flex-direction: column;
      height: 60%;
      justify-content: space-around;
    }

    .loginButton {
      padding: 10px 15px;
      font-weight: 700;
      font-size: 1.2rem;
      background-color: $darkGreen;
      color: white;
      text-align: center;
      border-radius: $borderRadiusDefault;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $lightGreen;
      }
    }
  }
}
