@import "../../styles/all";

.loginContentWrapper {
  height: 100%;

  .loginWrapper {
    position: relative;
    flex-direction: column;
    border-radius: $borderRadiusDefault;
    width: $loginWrapperWidth;
    height: $loginWrapperHeight;
    background-color: white;

    .loginInputs {
      flex-direction: column;
      justify-content: space-around;
      height: 60%;

      @extend %flexCenter;
    }

    .loginButton {
      border-radius: $borderRadiusDefault;
      padding: 10px 15px;
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      color: white;
      background-color: $darkGreen;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $lightGreen;
      }
    }

    .errorLogin {
      position: absolute;
      left: 50%;
      top: 12%;
      font-weight: 600;
      font-size: 1.1rem;
      color: red;
      transform: translateX(-50%);
      user-select: none;
    }

    @extend %flexCenter;
  }

  @extend %flexCenter;

  @media (max-width: 870px) {
    .loginWrapper {
      width: $loginWrapperWidthMobile;
    }
  }
}
