@import "../../styles/all";

.authContent {
  @extend %flexCenter;
  height: 100%;

  .auth_register_login_wrapper {
    @extend %flexCenter;
    position: relative;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    &::after {
      position: absolute;
      content: "";
      height: 250px;
      width: 0.2px;
      background-color: $darkGreen;
      top: 50%;
      transform: translateY(-50%);
      left: 49.9%;
    }
    .auth_login,
    .auth_register {
      @extend %flexCenter;
      cursor: pointer;
      width: 400px;
      height: 280px;
      font-size: $bigFontSize;
      transition: all 0.2s linear;
      border-radius: 10px;
    }

    .auth_login {
      &:hover {
        box-shadow: 0px 0px 7px inset $darkGreen;
        color: $lightGreen;
      }
    }
    .auth_register {
      &:hover {
        box-shadow: 0px 0px 7px inset $lightGreen;
        color: $darkGreen;
      }
    }
  }
}
