@import "../../styles/all";

.authContent {
  height: 100%;

  .auth_register_login_wrapper {
    position: relative;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    background-color: white;

    &::after {
      content: "";
      position: absolute;
      left: 49.9%;
      top: 50%;
      width: 0.2px;
      height: 250px;
      background-color: $darkGreen;
      transform: translateY(-50%);
    }

    .auth_login,
    .auth_register {
      border-radius: 10px;
      width: 400px;
      height: 280px;
      font-size: $bigFontSize;
      transition: all 0.2s linear;
      cursor: pointer;

      @extend %flexCenter;
    }

    .auth_login {
      &:hover {
        box-shadow: 0 0 7px inset $darkGreen;
        color: $lightGreen;
      }
    }

    .auth_register {
      &:hover {
        box-shadow: 0 0 7px inset $lightGreen;
        color: $darkGreen;
      }
    }

    @extend %flexCenter;

    @media (max-width: 870px) {
      .auth_login,
      .auth_register {
        width: 150px;
      }
    }
  }

  @extend %flexCenter;
}
