@import "../../../styles/all";

.postImgContent {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: $postImgHeight;
  cursor: pointer;

  .postImgSample {
    flex-direction: column;
    height: 100%;
    color: $lightGreen;
    background-color: $darkGreen;

    .postImgSampleText {
      font-weight: 600;
    }

    @extend %flexCenter;
  }

  img {
    height: 100%;
    object-fit: contain;
  }

  input[type="file"] {
    display: none;
  }
}
