@import url(https://fonts.googleapis.com/css?family=Andada+Pro:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);
@import "./styles/variables";

body {
  font-family: "Andada Pro", serif;
  background-color: $ContentBackgroundColor;
  overflow-y: scroll;
}

.inputWrapper {
  position: relative;
  width: 100%;
  label {
    display: block;
    position: absolute;
    font-weight: 700;
    color: $darkGreen;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
    transition: top 0.2s ease, font-size 0.2s ease, top 0.2s ease;
    padding: 0 5px;
    background-color: white;
    user-select: none;
  }

  input {
    border: 2px solid $darkGreen;
    border-radius: 10px;
    padding: 12px;
    font-size: 1.1rem;
    color: $lightGreen;
    width: 100%;

    &[type="password"] {
      font-family: Verdana;
    }
  }

  input:valid + label,
  input:focus + label {
    top: 0px;
    font-size: 0.8rem;
    border-color: $lightGreen;
    background-color: white;
  }
}

.hide {
  display: none;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}
