@import "../../styles/all";

.selectPostsWrapper {
  margin-bottom: 20px;

  .selectPostsContent {
    justify-content: flex-start;
    border-radius: 35px;
    padding: 7px 10px;
    width: $postWidth;
    min-height: 42px;
    background-color: white;

    .loader {
      width: 100%;
      text-align: center;
    }

    input[type="radio"] {
      display: none;

      &:checked + .selectPostsItem {
        border: 1px solid transparent;
        color: white;
        background-color: $darkGreen;
      }
    }

    label {
      margin-right: 7px;
      scroll-snap-align: start;

      .selectPostsItem {
        border: 1px solid $lightGreen;
        border-radius: 35px;
        padding: 5px 8px;
        background-color: white;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        user-select: none;

        &:hover {
          border: 1px solid $lightGreen;
          color: white;
          background-color: $darkGreen;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .lastOfBaseSelectors {
      position: relative;
      margin-right: 15px;

      &::after {
        content: "";
        position: absolute;
        left: 111%;
        top: 0;
        width: 1px;
        height: 28px;
        background-color: $lightGreen;
      }
    }

    @extend %flexCenter;
  }

  @extend %flexCenter;

  @media (max-width: 870px) {
    .selectPostsContent {
      width: $postWidthMobile;
    }
  }
}

.horizontalScroll {
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
  scroll-padding-inline: 10px;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin-inline: 13px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: $lightGreen;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: $darkGreen;
  }
}
