.inputWrapperValidation {
  position: relative;

  .registerFormError {
    position: absolute;
    left: 10px;
    top: 105%;
    font-size: 0.95rem;
    color: red;
    user-select: none;
  }
}

@media (max-width: 1180px) {
  .inputWrapperValidation {
    .registerFormError {
      font-size: 0.8rem;
    }
  }
}
