@import "../../../styles/all";

.registrationEmailPassNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $borderRadiusDefault;
  height: 100%;
}

.nextPageWrapper {
  justify-content: end;
  margin-right: -10px;
  color: $darkGreen;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

  .nextPage {
    font-weight: 700;
    cursor: pointer;

    @extend %flexCenter;
  }

  &:hover {
    color: $lightGreen;
  }

  @extend %flexCenter;
}
