@import "../../../styles/all";

.registrationEmailPassNameWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $borderRadiusDefault;

  
}

.nextPageWrapper {
  color: $darkGreen;
  @extend %flexCenter;
  justify-content: end;
  transition: color 0.2s ease-in-out;
  margin-right: -10px;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    color: $lightGreen;
  }

  .nextPage {
    @extend %flexCenter;
    cursor: pointer;
    font-weight: 700;
  }
}
