@import "../../../styles/all";

.userImgContent {
  color: $darkGreen;

  // for positioning actionWrapper elements at the same height as slide before (5px padding of button)
  height: calc(100% - 9px);

  .header {
    font-size: $bigFontSize;
    margin-bottom: 120px;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageWrapper {
    position: relative;
    border-radius: 50%;

    .userImageSample {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      cursor: pointer;
    }

    .photoSign {
      position: absolute;
      @extend %flexCenter;
      width: 25px;
      height: 25px;
      background-color: $darkGreen;
      border-radius: 50%;
      top: 75%;
      left: 70%;
      color: white;
      cursor: pointer;
    }
  }

  input {
    display: none;
  }
}

.actionWrapper {
  @extend %flexCenter;
  justify-content: space-between;

  .back {
    color: $darkGreen;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
    margin-right: -10px;

    &:hover {
      color: $lightGreen;
    }
  }

  .register {
    cursor: pointer;
    font-weight: 700;
    padding: 7px;
    background-color: $darkGreen;
    font-size: $defaultFontSize;
    border-radius: 30px;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.05rem;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
      color: $lightGreen;
      background-color: white;
      border-color: $darkGreen;
    }
  }
}
